* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 300px;
  margin-bottom: 1em;
  border-radius: 3px;
  box-shadow: 5px 5px 10px #6d6d72;
  margin-bottom: 1em;
  float: left;
  margin-right: 20px;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px; 
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif; 
  color: #333; 
  background-color: #f9f9f9; 
  line-height: 1.6;
  padding: 20px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  background-color: #ebebeb;
  padding: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #222; 
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 {
  text-align: center;
}

p {
  color:#292839;
  margin-bottom: 1em;
  text-align: justify;
}
/* třída odstavce s ohraničením */
.text-in-frame {
  border: 2px dotted rgb(29, 124, 93);
  padding: 7px;
}

a {
  text-decoration: none;
  color:#fff;
  background-color: #5abec9;
  padding: 2px;
  border-radius: 10px;
}

a:hover {
  color:#5abec9;
  background-color: #ebebeb;
}

iframe {
  margin-bottom: 1em;
}

form {
  margin-left: 15px;
}

input {
  margin-top: 5px;
}

input[type="submit"] {
  padding: 3px 5px;
}

input[type="radio"] {
  margin-right: 5px;
}
