* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  width: 50%; 
}

html {
  font-size: 16px; 
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif; 
  color: #333; 
  background-color: #f9f9f9; 
  line-height: 1.6;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #222; 
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 {
  text-align: center;
}

p {
  color:#292839;
  margin-bottom: 1em;
  text-align: justify;
}